
test-get-endpoints.bat

docker-compose.yml

.env
EXAMPLE_RESPONSES.md
FINAL_SUMMARY.md
FINAL_SUMMARY.md
INDEX.md
JWT_TOKEN_GUIDE.md
QUICK_TEST.md
Postman_GET_Testing.json
READY_FOR_TESTING.md
SERVER_RUNNING.md
PROJECT_COMPLETE.md
*.md

mongo/
postgres/
node_modules/
dist/
build/
coverage/
/src/generated/prisma
.gitignore